.todo-create{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.todo-input{
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    text-indent: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.todo-input:focus {
    border: 2px solid #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    background-color: #f9f9f9;
}

.todo-input::placeholder {
    color: #aaa;
    font-style: italic; 
}   

.todo-create-button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    font-weight: 700;
    transition: background-color 0.35s ease;
}

.todo-create-button:hover{
    background-color: goldenrod;
    cursor: pointer;
}

.todo-icon-remove{
    font-size: 21px;
    margin-right: 2.2px;
}

.todo-icon-remove:hover{
    cursor: pointer;
    color: #C82333;
    transition: color 0.35s ease;
}
.todo-icon-edit{
    font-size: 21px;
    margin-right: 2.2px;
}

.todo-icon-edit:hover{
    cursor: pointer;
    color: #007BFF;
    transition: color 0.35s ease;
}

.todo-icon-check{
    font-size: 21px;
    margin-right: 2.2px;
}

.todo-icon-check:hover{
    cursor: pointer;
    color: #28A745;
    transition: color 0.35s ease;
}

