.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
}

.search-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icon-basket {
    font-size: 20px;
    margin-right: 10px;
}

.icon-sun {
    font-size: 20px;
    margin-right: 10px;
}

.icon-moon {
    font-size: 20px;
    margin-right: 10px;
}


.icon-basket:hover {
    cursor: pointer;
    color: #28A745;
}

.icon-sun:hover {
    cursor: pointer;
}


.icon-moon:hover {
    cursor: pointer;
}